<p style="color: hotpink"><%= notice %></p>

<%= render @todo_list %>

<div>
  <%= link_to "Edit Wish", edit_todo_list_path(@todo_list) %> |
  <%= link_to "Back to WishList", todo_lists_path %>

  <%= button_to "Destroy this Wish", @todo_list, method: :delete %>
</div>
