<p style="color: green"><%= notice %></p>

<h1>WISHLIST</h1>

<h1>Wishlist Items</h1>

<%= render 'search_form' %>

<ul>
  <% @wishlists.each do |wishlist| %>
    <li><%= wishlist.title %></li>
  <% end %>
</ul>


<div id="todo_lists">
  <% @wishlists.each do |wishlist| %>
    <%= render wishlist %>
    <p>
      <%= link_to "View Wish", wishlist %>
    </p>
  <% end %>
</div>

<%= link_to "New Wish", new_wishlist_path %>
